<!DOCTYPE html>
<html>
<head>
  <title>Login | Sitra</title>
  <%= stylesheet_link_tag    'admin/mystyle', media: 'all', 'data-turbolinks-track' => true %>
  
</head>
<body>
<div class="container">
	<%= yield %>
</div>
</body>
</html>