<!-- SINGLE -->
		<section class="Contact">
			<div class="page-header">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1>Contact With Us</h1>
							<p>Feel free to drop a few lines & ask us any questions you have</p>
						</div>
					</div>	
				</div>	
			</div>	
			<div class="container">
				<div class="col-md-12">
						<div class="contact-form">
							<h1 style="color: #33383f; margin-top:10px;"> Get in touch with us</h1>
							<form>
								<div class="form-group">
									<label class="sr-only" for="exampleInputEmail1">Your Name</label>
									<input type="email" class="form-control input-lg" id="exampleInputEmail1" placeholder="Your Name">
								</div>
								
								<div class="form-group">
									<label class="sr-only" for="exampleInputEmail1">Your Email</label>
									<input type="email" class="form-control input-lg" id="exampleInputEmail1" placeholder="Your Email">
								</div>
								
								<div class="form-group">
									<label class="sr-only" for="exampleInputEmail1">Your Message</label>
									<textarea class="form-control input-lg" rows="4" placeholder="Your Message"></textarea>
								</div>
								<button type="submit" class="btn btn-primary btn-block">Send Message</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END SINGLE -->