<!--About the firm-->
        <section class="team">
        <div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-md-10 col-sm-offset-1 text-center">
						<h1>Al-amin Integrated Academy</h1><div class="border center-block"></div>
						<p class="tagline">Al-amin is a student Development based the best training and consoltation to students that was established in the year 2009 by a group of Kenyan and Somalia professionals who had a motivation to develop the institutional capacity of public and private schools in the country.Al-amin is registered in Kenya. Al-amin has been engaged in providing comprehensive studies and preparing students for the national examination at the end of the year Through our unique techniques of teaching. We create a platform for the children to express what they know through debating and competitions etc.</p>
						<h2>Our Values</h2>
						<ul style="text-align: left;">
							<li><strong>Service:</strong>  We strive for excellence, continuous improvement and value for the community and students.</li>
							<li><strong>Teamwork:</strong>  We communicate and co-operate with each other and with our both communities.</li>
							<li><strong>Integrity:</strong>  We act with commitment, honesty, openness and respect for others.</li>
							<li><strong>Recognition:</strong>  We appreciate and acknowledge effort and we celebrate</li>
							<li><strong>Satisfaction:</strong>  We take pride in our work and we have fun together</li>
						</ul>
						<h1>Our Services Includes: what do we do</h1>
						<ul style="text-align: left;">
							<!-- <li>Resource mapping</li>
							<li>Policy and stratigic management</li>
							<li>Accounting packages training </li>
							<li>Institutional capacity building and restructuring programs </li>
							<li>Business profile plan</li>
							<li>NGO/grant proposal writing </li>
							<li>Book keeping/accounting </li>
							<li>Tendering process documents & company registration services </li>
							<li>Institutional standard operating procedures and policies developments (SOP)</li>
							<li>Career Guidance and counseling services </li>
							<li>Research services (baseline surveys, need assessments)</li>
							<li>Educational policies, frameworks and Curriculum review</li>
							<li>Investment and Enterprise business needs Analysis Consultant</li>
							<li>Youth empowerment, leadership and programs for local governance services</li>
							<li>Technical writings; academic research writings, thesis and Projects  </li>
							<li>Job Placements and resume development both National and International Level.</li> -->
						</ul>
						<h1>Methodology</h1>
						<ul style="text-align: left;">
							<li>Classroom teaching</li>
							<li>competitions between students</li>
							<li>group studies among students</li>
							<li>one on one dealing with slow learning students</li>
						</ul>
						<h2>Our Strength</h2>
						<ul style="text-align: left;">
							<li>Our strong value-based, ethical teaching functioning.</li>
							<li>Astute professionals associated with us, having in depth knowledge of different areas of child education.</li>
							<li>Multiple sourcing techniques including excellent books and other resources from all over the country.</li>
							<li>Ability to attract a wider talent pool of potential applicants from all over region.</li>
							<li>Prompt action coupled with value added services and additional options of deploying decision.</li>

						</ul>
						<h1>Ethics</h1><div class="border center-block"></div>
						<p class="tagline">By demonstrating to stakeholders that we meet high ethical standards in all aspects of our work, and that we are committed to helping address challenges, we can maintain their support. Our reputation, the standards we operate to and our employment practices also affect our ability to attract, retain and motivate the best people.</p>
						<h1>Benefits to our clients</h1>
						<ul style="text-align: left;">
							<li>Lower tution cost</li>
							<li>Fast delivery of service</li>
							<li>Improved learning conditions</li>
							<li>Focus on the core of teaching</li>
						</ul>
					</div>
				</div>	
			</div>
        	
        </section>
        <!--end-->
		<!-- TEAM -->
		<section class="team">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-md-10 col-sm-offset-1 text-center">
						<h1>Meet Our Management Team</h1><div class="border center-block"></div>
						<p class="tagline">We love to help our community the best way we can</p>
					</div>
				</div>	
			</div>	
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6 ">
						<div class="thumbnail">
							<div class="team-img">
								<%= image_tag('user1.jpg') %>
								<div class="team-overlay"><i class="fa fa-envelope-o"></i></div>
							</div>
							<div class="caption">
								<h4>Ahmed Abdi Mohamed</h4>
								<span>Manager</span>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 ">
						<div class="thumbnail">
							<div class="team-img">
								<%= image_tag('user2.jpg') %>
								<div class="team-overlay"><i class="fa fa-envelope-o"></i></div>
							</div>
							<div class="caption">
								<h4>Abdikhalif Mohamed</h4>
								<span>Headteacher</span>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="thumbnail">
							<div class="team-img">
								<%= image_tag('user3.jpg') %>
								<div class="team-overlay"><i class="fa fa-envelope-o"></i></div>
							</div>
							<div class="caption">
								<h4>William Collins</h4>
								<span>Deputy headteacher</span>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END TEAM -->>
